In [1]:
import pandas as pd
import numpy as np

In [2]:
df_result = pd.read_csv('catboost2.csv')
df_result.head()

   item_id  shop_id  item_cnt_month
0     5037        5        0.034306
1     5320        5        0.012391
2     5233        5        0.021190
3     5232        5        0.021109
4     5268        5        0.012337

In [3]:
df_test = pd.read_csv('data/test.csv')
df_test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [4]:
df_result = df_result.merge(df_test, on=['shop_id', 'item_id'], how='left')
df_result.head()

   item_id  shop_id  item_cnt_month  ID
0     5037        5        0.034306   0
1     5320        5        0.012391   1
2     5233        5        0.021190   2
3     5232        5        0.021109   3
4     5268        5        0.012337   4

In [5]:
df_result.any().isna()

item_id           False
shop_id           False
item_cnt_month    False
ID                False
dtype: bool

In [6]:
sample_submission = pd.read_csv('data/sample_submission.csv')

In [7]:
sample_submission.drop(columns=['item_cnt_month'], inplace=True)

In [8]:
df_result = df_result.merge(sample_submission, on=["ID"], how="left")
df_result.head()

   item_id  shop_id  item_cnt_month  ID
0     5037        5        0.034306   0
1     5320        5        0.012391   1
2     5233        5        0.021190   2
3     5232        5        0.021109   3
4     5268        5        0.012337   4

In [9]:
df_result = df_result[['item_cnt_month', 'ID']]
df_result['item_cnt_month'] = df_result['item_cnt_month'].fillna(0).clip(0,20)

In [10]:
df_result.head()

   item_cnt_month  ID
0        0.034306   0
1        0.012391   1
2        0.021190   2
3        0.021109   3
4        0.012337   4

In [11]:
df_result = df_result.set_index('ID')
df_result.to_csv('catboost2_submission.csv')